.new-character-form-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    background-color: rgb(53, 7, 7);
    font-size: 18px;
}

.form-group {
    display:flex;
    flex-wrap: row;
    margin: 10px;
    width: 90%;
    padding: 5px;
}

.form-group.error {
    border: 1px solid red;
}

fieldset {
    background-color: #101010;
}

legend {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.error-feedback {
    margin-top: -5px;
    color: red;
    text-align: center;
    font-weight: 900;
}

label {
    margin-right: 5px;
}

.required::before {
    content: "* ";
    color: red;
  }

  input {
    margin-left: 5px;
    flex-grow: 1;
    background-color: #EEEEEE;
  }

  button {
    position: relative;
    bottom: 30px;
    padding: 10px;
  }

  button:hover {
    background-color: rgb(53, 7, 7);
    color: white;
  }

  p.required {
    text-align: right;
    margin-right: 15px;
  }