body {
    background-color: rgb(53, 7, 7);
    margin: 0;
  }
  
  .page {
    max-width: 1237px;
    margin: 0 auto;
    background-color: black;
  }
  
  h1 {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding-top:10px;
    color:white;
    text-align: center;
  }
  
  p {
    text-align: center;
    color: white;
    margin: 0 auto;
  }

  img {
    margin: 0, auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }