body {
  background-color: rgb(205, 208, 225);
  margin: 0;
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.page {
  margin: 0 auto;
}

h1, h2 {
  font-size: 50px;
  padding-top:10px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal
}

.project-info-page {
  max-width: windowWidth;
  margin: 20px auto;
  padding-top: 30px;
  border-radius: 20px;
}

.project-info-page p {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.fullprofile-img {
  min-width: 25%;
  max-width: 75%;
  padding: 50px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-details {
  padding-top: 20px;
  padding-bottom: 70px;
}

.return-to-home {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  border-top: 1px solid white;
}

.return-to-home:hover {
  color: rgb(150, 125, 218);
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

footer p {
  text-align: center;
}


/* Font CSS Info

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
} */
