.projectCard {
    width: 100%;
    max-width: 550px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    height: 550px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    box-shadow: 0px 0px 10px 2px #888888;
}

.projectCard img {
    height:400px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #EEEEEE;
}

.projectCard a {
    text-decoration: none;
}

.projectCard a:hover {
    color: white;    
}

.projectCard p {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.projectName {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal
  }