body {
  background-color: rgb(53, 7, 7);
  margin: 0;
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.page {
  max-width: 1237px;
  margin: 0 auto;
  background-color: black;
}

h1, h2 {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  padding-top:10px;
  color:white;
  text-align: center;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  margin: 0 auto;
}

footer p {
  text-align: center;
}