body {
    background-color: rgb(53, 7, 7);
    margin: 0;
  }
  
  .card-info-page {
    max-width: 1237px;
    margin: 0 auto;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  
  .card-info-page h1 {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding-top:10px;
    color:white;
    text-align: center;
  }
  
  .card-info-page p {
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 10px;
  }

  .fullprofile-img {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  p.return-to-home {
    margin: 50px;
    padding: 25px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    border-top: 1px solid white;
  }

  .return-to-home:visited {
    color: white;
  }

  .return-to-home:hover {
    color: darkred;
  }